.MainHeader{
    padding: 20px 30px;
}
.logo,.search,.accounts{
    display: inline-block;
}
.logo{
    width: 20%;
}
.logo h3{
    color: white;
    margin: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search{
    width: 80%;
    text-align: right;
}
.search input{
    padding: 20px 10px;
    height: 30px;
    width: 40%;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid #8080808c;
}