.CoinBody{
    margin: 5px 0px;
    border: none;
    border-radius: 4px;
    padding: 20px 10px;
    background-color: white;
}
.CoinICON{
    margin: 0 5px;
    display: inline-block;
    width: 5%;
    text-align: right;
    vertical-align: middle;
}
.CoinICON img{
    height: 25px;
}
.CoinSYB{
    margin: 0 5px;
    display: inline-block;
    width: 5%;
}
.CoinNAME{
    margin: 0 5px;
    display: inline-block;
    width: 15%;
}
.CoinPRICE{
    margin: 0 5px;
    display: inline-block;
    width: 15%;
}
.Coin24DG,.Coin7DG{
    margin: 0 5px;
    display: inline-block;
    width: 5%;
    text-align: left;
    color: green;
}
.Coin24DR,.Coin7DR{
    margin: 0 5px;
    display: inline-block;
    width: 5%;
    text-align: left;
}
.CoinMC{
    margin: 0 5px;
    display: inline-block;
    width: 20%;
    text-align: center;
}
.CoinSER{
    margin: 0 5px;
    display: inline-block;
    width: 20%;
    text-align: center;
}