.CoinBody{
    margin: 5px 0px;
    border: none;
    border-radius: 4px;
    padding: 20px 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 1.5fr 1fr 1fr 2fr 2fr;
}
.CoinICON{
    margin: 0 5px;
    text-align: right;
    vertical-align: middle;
}
.CoinICON img{
    height: 24px;
}
.CoinSYB{
    margin: 0 5px;
}
.CoinNAME{
    margin: 0 5px;
}
.CoinPRICE{
    padding-right: 15px;
    text-align: right;
    margin: 0 5px;
}
.Coin1DG,.Coin7DG{
    margin: 0 5px;
    text-align: right;
    color: green;
}
.Coin1DR,.Coin7DR{
    margin: 0 5px;
    text-align: right;
    color: red;
}
.CoinMC{
    padding-right: 15px;
    margin: 0 5px;
    text-align: right;
}
.CoinSER{
    padding-right: 15px;
    margin: 0 5px;
    text-align: right;
}